<h2>Nova categoria</h2>
<hr>
<form actionn='/admin/categorias/nova' method="POST">
    <label for="nome">Nome: </label>
    <input type="text" id="nome" name="nome" placeholder="Nome da categoria">
    <label for="slug">Slug: </label>
    <input type="text" id="slug" name="slug" placeholder="Slug da categoria">
    <button type="submit"> Criar categoria</button>
</form>
