<h1>Cadastro de Produto</h1>
<form action="/addproduto" method="POST">
    <p>Username</p>
    <input type="text" name="username">
    <P>
        Produto
    </P>
    <input type="text" name="produto">
    <p>
        Categoria:
    </p>
    <input type="text" name="categoria">
    <p>
        Imagem:
    </p>
    <input type="text" name="imagem" >
    <p>
        Valor:
    </p>
    <input type="float" name="valor">
    <p>
        descrição:
    </p>
    <textarea name="descricao"></textarea>
    <button type="submit">Cadastrar Produto</button>
</form>